<div class="card-group">
    <div class="card">
        <%= image_tag "1.png", class: "some css class here" %>
        <div class="card-body">
        <h5 class="card-title">Tarea 1</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-body">
            <%= link_to "Ver mas", "/assets/1.png", class:'btn btn1' %>
        </div>
    </div>
    <div class="card">
        <%= image_tag "2.png", class: "some css class here" %>
        <div class="card-body">
        <h5 class="card-title">Tarea 2</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-body">
            <%= link_to "Ver mas", "/assets/2.png", class:'btn btn2' %>
        </div>
    </div>
    <div class="card">
        <%= image_tag "3.png", class: "some css class here" %>
        <div class="card-body">
            <h5 class="card-title">Tarea 3</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-body">
            <%= link_to "Ver mas", "/assets/3.png", class:'btn btn3' %>
        </div>
    </div>
</div>